body {
    text-align: center;  
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    margin: 0px;
}
#hero {
    background-image: url("./images/web-agency.jpg");
    background-size: cover;
    color:rgb(4, 105, 36);
    height: 620px;
}
#title {
    text-shadow: 5px 5px 10px yellow;
}
.btn {
    width: 120px;
    height: 50px;
    font-family: "Merriweather", serif;
    color:rgb(4, 105, 36);
    font-weight: 700;
    font-size: 25px;
    border: none;
    margin: 16px 8px;
    border-radius: 10px;
    background-color: antiquewhite;
}
.underline {
    text-decoration: underline;
}